

body {
    margin: 0; 
    padding: 0;
    height: 100%; 

    display : flex; 
    justify-content: center; 
    font-family: "SnellRoundhand", cursive;
    background: linear-gradient(to right, #fcfcfc, #faffe9)
}



main {
    margin-top: 11%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0, 0.1);
}

.button {
    margin-left: 45px;
    size: px;
    margin-bottom: 0px;
    background-color: #ffffff;
}

header {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

h1{
    font-size: 35px;
}


.errorMessage {
    color: red;
    font-weight: bold;
}

form {
    display: flex;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
    justify-content: center;
}



input {
    width: 150px;
    padding: px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;

} 