body {
    margin: 0; 
    height: 100%; 

    display : flex; 
    justify-content: center;
}

main {
    margin-top: 11%;
    border: 3px solid black;
    padding: 30px;
}

.button {
    margin-left: 105px;
}

