h1 {
    margin: 0; 
    height: 100%; 

    display : flex; 
    justify-content: center;
    font-size: 50px;
    color: red;
    margin-top: 100px;
}

.secret_images {
  display: flex;
  background-color: DodgerBlue;
  width: 80%;
  justify-content: center;
  margin-left: 160px;
  margin-top: 100px;
}

.secret_images div {
  background-color: #f1f1f1;
  margin: 60px;
  padding: 60px;
}

img {
  width: 200px;
}