.container {
  /* background-color: gray; */
  /* padding: 5px; */
  /* height: 850px; */
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  color: ghostwhite;
  background-color: aliceblue;
  border: 3px solid black;
}

/* .container div {
  background-color: rgb(37, 37, 37);
  border: 3px solid black;
} */

.container h1{
  background-color: green;
}

.container p{
  background-color: lime;
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  display: inline-block;
}
