:root{
  --primary-color: #40E0D0;
  --secondary-color: #acc9f9;
  --text-color: #333;
  --background-color: #f5f5f5;
  --gardient: linear-gradient(to right, #acc9f9, #40E0D0);
  --accent-color: #454545; 
}

.darkmode{
  --primary-color: #121313;
  --secondary-color: #393a3b;
  --text-color: #8a8a8a;
  --background-color: #323232;
  --gardient: linear-gradient(to right, #402b00, #100b01);
  --accent-color: #7e7e7e; 
}

#theme-set {
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 16px;
  left: 210px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}



.top_bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  margin-top: -20px;
}

h1{
  padding-right: 1300px;
}

.command_cell{ 
  margin:0;
  padding-left: 80px;
  font-size: 20px;

}

.chat_display {
  background-color: var(--background-color);
  border-top: 3px solid var(--background-color);
  padding: 10px;
  height: 725px;
  float: right; 
  width: 1489px; /*Visually adjusted to match the width will fine tune later */
  overflow-y: auto;
  line-height: 1px;
  word-wrap: break-word; /* BUGGGGG - TEXT that is very long doesn't overflow to next line will fix later  */
} 

 .msg_sending form {
  margin-left: 15%;
    display: flex;
  margin-top: 750px;  
 }

#msg {
  flex-grow: 1; 
  margin: 2px;
  padding: 1px;
  line-height: 1px;
  text-indent: 1px;
} 

body {
  background: var(--gardient);
}