.container {
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
}

.chat_group {
  background-color: limegreen;
}
.chat_display {
   background-color: lime;
  border-top: 3px solid black;
  padding: 10px;
  flex-grow: 1; 
  overflow-y : auto;
  max-height: 500px;
}

.msg_sending {
  border-top: 2px solid black;
  padding: 10px;
  background-color:limegreen;
}

.msg_sending form {
  display: flex;   
}

#msg {
  flex-grow: 1; 
}

input[type="submit"] {
  padding: 10px 20px;
  margin-left: 20px;
  background-color: lime;
  color: black;
  cursor: pointer;
}

body {
  background-color: yellowgreen; 
}