<!doctype html>
<html>  
    <head> 
       <title>Login</title>
    </head>
    <body> 
        <h1>Please Login</h1>
        <p>Enter Username and password</p>
        <from>
            <label> Username: </label>
            <input type = "text" name = "username" id = "username" placeholder = "Enter Username" required> 

            <br><br> <!-- Line break cause I don't want to make css yet ;o -->
            <label> Password: </label>
            <input type = "password" name = "password" id = "password" placeholder = "Enter Password" required>

            <br><br>
            <input type = "submit" value = "Login">

        </from>
    </body>


</html>