<!doctype html>
<html>
<head>
    <title>Top Secret Chatroom</title>

    <script>
        const savedTheme = localStorage.getItem("theme"); // Saved theme from local storage, also put the script here as it loads first so it doesn't flicker.
        if (savedTheme === "dark") {
            document.documentElement.classList.add("darkmode");
        }
    </script>

    <link rel="stylesheet" href="/static/css/room.css">
</head>

 <body> <!-- [class = "darkmode"] use this if you want to test dark mode manually. --> 
    <button id="theme-set" type ="button">NM</button>

<div class="container">
    <div class="top_bar">
        <div class ="command_cell">Commands</div>
        <h1>Chatroom One</h1>
    </div>
    <div class="sidebar">
        <h3>Online Users</h3>
        <ul id="user_list"></ul>


    </div>
    <div class="chat_display" id="chat_display">
    </div>

    <div class="msg_sending">
        <form id="message_input">
            <input type="text" id="msg" name="msg" placeholder = "Type your message..."><br>
            <input type="submit" value="Send">
        </form> 
    </div>
</div>


<!-- This block below is JS and downloads socket io from a libery so it can be used maintain live connection. 
 It also stops the page from refreshing after submiting message and sents the message to flask-->
<script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script> 
<script>
    const socket = io();
    const username = "{{ username }}";  // takes username from website and puts it in as username.

    socket.on ("connect",() => { 
        console.log ("Now connected to Chatroom_One, ID:", socket.id); // when connected this runs once to show you connected 

        // socket.send("message"); //<- can send web message but for useless now can enable later

    });

    socket.on('user_list', (users) => {
    const list = document.getElementById('user_list');
    list.innerHTML = '';  
    users.forEach(user => {
        const li = document.createElement('li');
        li.textContent = user;
        list.appendChild(li);
    });
    });

   

    const form = document.getElementById("message_input"); // grabs html message-input ID from room.html/form/
    const msgInput = document.getElementById("msg"); // does the same thing as up 
    const chatDisplay = document.getElementById("chat_display"); // grabs html chat display id
    const themeRoot = document.documentElement; // grabs html root element for theme button
    const themeButton = document.getElementById("theme-set"); // grabs html theme button id

    function updateThemeButton() {
    themeButton.textContent = themeRoot.classList.contains("darkmode") ? "D" : "N";
    } // updates theme button text to D or N depending on the theme.

    updateThemeButton(); // this bit repeats but it. just runs the function.



    socket.on ("message",(msg) => { // listens for message send and runs this func.
        const p = document.createElement("p"); // creates new element called p to store messages
        p.textContent = `${msg.username}: ${msg.text}`;

        chatDisplay.appendChild(p); // displays new element 
        chatDisplay.appendChild(document.createElement("br")); // break line so new txt apears below

        chatDisplay.scrollTop = chatDisplay.scrollHeight; // auto scroll but it doesnt work now. 
    });

    form.addEventListener("submit", (event) => { // runs every time a msg is submitted. 
    event.preventDefault(); // stops refreshing 

    const text = msgInput.value.trim();
    if (text.length === 0) return; // trims empty space in msg. 

    socket.send({username: username, text: text});
    msgInput.value= ""; // sends to flask 
    });
    


   themeButton.addEventListener("click", () => {
    themeRoot.classList.toggle("darkmode"); // toggles dark mode on and off when button is clicked.
    localStorage.setItem(
        "theme",
        themeRoot.classList.contains("darkmode") ? "dark" : "light"
    ); // saves theme to local storage so it stays when refreshed.
    updateThemeButton(); // runs function mentioned before. 
    });




    
</script>


</body>
</html>

